/******************* INICIO FONTES *******************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/******************* FIM FONTES *******************/

/******************* INICIO ANIMAÇÃO *******************/

@keyframes anima {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.08);
    }
}

/******************* FIM ANIMAÇÃO *******************/

/******************* INICIO ITENS JS *******************/

.js-efeito-img, .js-efeito-texto, .js-efeito-pag-titulo, .js-efeito-dow1, .js-efeito-dow2, .js-efeito-dow3, .js-efeito-dow4, .js-efeito-texto1
.js-efeito-texto2, .js-efeito-texto3, .js-efeito-texto4, .js-efeito-texto5, .js-efeito-texto6, .js-efeito-texto7, .js-efeito-itens{
    visibility: hidden;
}

/******************* FIM ITENS JS *******************/

/******************* INICIO CABEÇALHO *******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(90deg, rgba(28,240,237,1) 0%, rgba(31,30,30,1) 0%, rgba(69,69,69,1) 26%, rgba(97,95,95,1) 52%, rgba(69,69,69,1) 75%, rgba(31,30,30,1) 100%);
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 22, 22);
    align-items: center;
    margin-top: -5px;
    margin-bottom: -5px;
}

.Logo-header{
    display: flex;
    align-items: center;

    img {
        height: 160px;
        margin: -20px -10px -20px 40px;
    }
    
    p {
        font-size: 24px;
        font-family: "Lexend", sans-serif;
        color: #12c9cf;
        font-weight: 500;
    }
}

.Lista-header > ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 40px;
    font-size: 19px;
    font-family: "Lexend", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    
    
    li > a{
        text-decoration: none;
        color: inherit;
        text-shadow: 0px 0px 1px;
        
    }
}

.Lista-header > ul > li:hover{
    color: #12c9cf;
    transform: scale(1.1);
    transition: .2s;
}

.Conta-header{
    display: flex;
    gap: 40px;
    align-items: center;

    p{
        font-size: 19px;
        font-family: "Lexend", sans-serif;
        color: rgb(255, 255, 255);
        font-weight: 400;
    }

    p > a{
        text-decoration: none;
        color: inherit;
        text-shadow: 0px 0px 1px;
    }

    p:hover {
        color: #12c9cf;
        transform: scale(1.1);
        transition: .2s;
    }

    input{
        font-weight: 500;
        font-family: "Lexend", sans-serif;
        font-size: 18px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        margin-right: 60px;
        cursor: pointer;
        border-style: none;
        cursor: pointer;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-shadow: 0px 0px 1px;
    }

    input:hover{
        background-color: #12c9cf;
        color: rgb(0, 0, 0);
        transform: scale(1.05);
        transition: .1s;
    }
}

/******************* FIM CABEÇALHO *******************/

/******************* INICIO CORPO *******************/

.anuncio{
    align-items: center;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(28,240,237,1) 0%, rgba(9,219,213,1) 0%, rgba(19,217,241,1) 26%, rgba(32,223,242,1) 52%, rgba(17,241,246,1) 75%, rgba(27,246,229,1) 100%);    font-weight: 400;
    font-family: "Lexend", sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    u{
        font-weight: 600;
    }
}

main{
    margin: 100px 200px 0px 200px;
    font-family: "Noto Sans", sans-serif;
}

.pag1{
    h1{
        margin-top: 60px;
        font-size: 18px;
        color: white;
        font-family: "Noto Sans", sans-serif;
    }
}

.Section-1{
    display: flex;
    align-items: center;

    img{
        filter: drop-shadow(0px 0px 25px #12c9cf);
        height: 520px;
        margin-left: 100px;
        animation-name: anima;
        animation-duration: 1.8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.Section-1 > .conteudo{

    h2{
        font-family: "Lexend", sans-serif;
        font-size: 80px;
        color: #12c9cf;
        margin-top: 30px;
    }
    p{
        font-size: 25px;
        color: rgb(255, 255, 255);
        margin-top: 50px;
        margin-bottom: 100px;
    }
}

cite{
    color: #12c9cf;
    
    b{
        color: white;
        font-size: 20px;
    }
}

.pag2{
    h1{
        margin-top: 80px;
        font-size: 18px;
        color: white;
    }
}

.Section-2{
    display: flex;
    align-items: center;

    img{
        height: 520px;
        filter: drop-shadow(0px 0px 25px #12c9cf);
        margin-left: 100px;
        margin-top: 100px;
        animation-name: anima;
        animation-duration: 1.8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.Section-2 > .conteudo{

    h2{
        font-family: "Lexend", sans-serif;
        font-size: 65px;
        color: #12c9cf;
        margin-top: 30px;
    }
    p{
        font-size: 25px;
        color: rgb(255, 255, 255);
        margin-top: 30px;
        margin-bottom: 40px;
    }
    ul > li{
        color: rgb(255, 255, 255);
        font-size: 17px;
        margin-top: 5px;
    }

    ul > li > b{
        color: #12c9cf;
    }
}

.pag3{
    h1{
        margin-top: 120px;
        font-size: 18px;
        color: white;
    }
}

.Section-3{
    display: flex;
    align-items: center;

    img{
        height: 520px;
        filter: drop-shadow(0px 0px 25px #12c9cf);
        margin-left: 100px;
        margin-top: 100px;
        animation-name: anima;
        animation-duration: 1.8s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.Section-3 > .conteudo{

    h2{
        font-family: "Lexend", sans-serif;
        font-size: 80px;
        color: #12c9cf;
        margin-top: 30px;
    }
    p{
        font-size: 25px;
        color: rgb(255, 255, 255);
        margin-top: 50px;
        margin-bottom: 50px;
    }
    ol > li{
        color: rgb(255, 255, 255);
        font-size: 23px;
        margin-top: 10px;
        
    }
    ol>li:hover{
        color: #12c9cf;
        cursor: pointer;
    }
}

.pag4{
    h1{
        margin-top: 120px;
        font-size: 18px;
        color: white;
    }
}

.texto-instalação{
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-size: 30px;
}

.Section-4{
    margin-bottom: 200px;
    margin-top: 200px;
    
    h2{
        font-family: "Lexend", sans-serif;
        font-size: 80px;
        color: #12c9cf;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    img{
        height: 230px;
        margin-top: -40px;
        margin-bottom: -30px;
    }
    
}

.download{
    display: flex;
}

.botoes-pag4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #12c9cf;

    a > input{
        padding: 10px 30px 10px 30px;
        border-radius: 20px;
        font-size: 25px;
        font-family: "Lexend", sans-serif;
        border: 0;
    }
    a > input:hover{
        transform: scale(1.05);
        transition: .2s;
        cursor: pointer;
        color: #12c9cf;
        background-color: black;
    }
}

.texto-botao{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    color: #12c9cf;
    font-family: "Lexend", sans-serif;
    margin-bottom: 95px;
}

.seta{
    display: flex;
    flex-direction: column;
    gap: 111px;
    margin-top: 49px;
    margin-left: 10px;
    
    img{
        height: 30px;
        margin-right: 240px;
    }

}

.opções{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .opc1{
        display: flex;
        align-items: center;
        

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }

    }
    .opc2{
        display: flex;
        align-items: center;

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }
    }
    .opc3{
        display: flex;
        align-items: center;

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }
    }
    .opc4{
        display: flex;
        align-items: center;

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }
    }
    .opc5{
        display: flex;
        align-items: center;

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }
    }
    .opc6{
        display: flex;
        align-items: center;

        img{
            height: 24px;
        }
        p{
            font-size: 22px;
            font-family: "Lexend", sans-serif;
            color: white;
            margin-bottom: 10px;
        }
    }
}


/******************* FIM CORPO *******************/

/******************* INICIO RODAPÉ *******************/

footer{
    background-color: rgb(22, 22, 22);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 160px;
}

.img-footer{
    img{
        height: 200px;
        margin: -10px 0px 0px 30px;
    }
}

.contato{
    p{
        color: #12c9cf;
        font-family: "Lexend", sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: inherit;
        color: white;
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 20px;
        display: inline-block;
    }
    a:hover{
        transform: scale(1.05);
        transition: .2s;
    }
}

.email{
    p{
        color: #12c9cf;
        font-family: "Lexend", sans-serif;
        font-size: 30px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: inherit;
        color: white;
        font-family: "Noto Sans", sans-serif;
        font-weight: 500;
        font-size: 20px;
        display: inline-block;
    }
    a:hover{
        transform: scale(1.05);
        transition: .2s;
    }
}

.PdP > a{
    text-decoration: none;
    color: inherit;
    color: #12c9cf;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
}

.PdP:hover{
    transform: scale(1.05);
    transition: .2s;
}


.TeC > a{
    text-decoration: none;
    color: inherit;
    color: #12c9cf;
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    margin-right: 100px;
}

.TeC:hover{
    transform: scale(1.05);
    transition: .2s;
}

/******************* FIM RODAPÉ *******************/