/******************* INICIO FONTES *******************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/******************* FIM FONTES *******************/

.login-anima{
    visibility: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(28,240,237,1) 0%, rgba(9,219,213,1) 0%, rgba(19,217,241,1) 26%, rgba(32,223,242,1) 52%, rgba(17,241,246,1) 75%, rgba(27,246,229,1) 100%);    font-weight: 400;
}

.ALL{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.LEFT{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 90px;

}

.RIGHT{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-left: 2px solid black;

    img{
        width: 230px;
    }
    h1{
        font-size: 20px;
    }
}